img,
figure {
  max-width: 100%;
}

img.alignleft {
  float: left;
  margin: 0 1.5rem 1rem 0;
}

img.alignright {
  float: right;
  margin: 0 0 1rem 1.5rem;
}

figcaption,
.wp-caption-text {
  font-size: 0.68rem;
  text-align: right;
  font-style: italic;
  font-style: italic;
  padding: 0.5rem 1rem;
  background: hsl(0, 0%, 30%);
  color: white;
}

hr {
  border-bottom-width: 2px;
  border-bottom-color: rgb(26, 82, 118);
  opacity: 0.35;
}

/* a:not([href^="/"]) {
  color: greenyellow !important;
} */

/* main li:not([role="menuitem"]) {
  margin-bottom: 1.5rem;
}

main li.menu-item {
  margin-bottom: 0.6rem;
} */

main li {
  margin-bottom: 0.6rem;
}
