img,
figure {
  max-width: 100%;
}

img.alignleft {
  float: left;
  margin: 0 1.5rem 1rem 0;
}

img.alignright {
  float: right;
  margin: 0 0 1rem 1.5rem;
}

.wp-caption-text {
  font-size: 0.75rem;
  text-align: right;
  color: #696969;
  font-style: italic;
  margin-bottom: 1rem;
}

hr {
  border-bottom-width: 2px;
  border-bottom-color: rgb(26, 82, 118);
  opacity: 0.35;
}

/* a:not([href^="/"]) {
  color: greenyellow !important;
} */
