@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: "Montserrat", sans-serif;
  background: #133952;
  width: 100%;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}
